*{
    margin: 0;
    padding: 0;
}
@font-face {
  font-family: 'League Gothic';
  src: url('../fonts/leaguegothic-regular-webfont.eot');
  src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'), url('../fonts/leaguegothic-regular-webfont.woff') format('woff'), url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-light-webfont.eot');
  src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff'), url('../fonts/opensans-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-extrabold-webfont.eot');
  src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'), url('../fonts/opensans-extrabold-webfont.woff') format('woff'), url('../fonts/opensans-extrabold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
body{
  min-width: 300px;
}
header{
    height: 850px;
    margin: 0 auto;
    background: url(../img/header.png);
    background-position: 50% 0;        
}
.header--logo{
    margin-top: 5%;
    margin-left: 19.5%;
}

.menu{    
    margin-top: -2.5%;
    margin-left: 40.1%;    
}
.menu--item{
    list-style: none;
    display: inline-block;
    padding-right: 5%;
}
.menu--link{
    padding-bottom: 5px;    
    display: inline-block;
    vertical-align: text-top;
    text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
    font-family: "League Gothic";
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}
.menu--link:hover{
    padding-bottom: 2px;
    border-bottom: 2px solid #edbfff;
}
.menu-box{
    width: 53%;
    height: 55%;
    position: absolute;
    z-index: 5;
    margin-left: -999999px;
    margin-top: -0.6%;
}
.menu--Res480{
    width: 53%;
}
.menu--Res480 .menu--item{
    height: 47px;
    margin-left: 4%;
    margin-bottom: -2%;
    padding-right: 0;
    text-align: center;
    border-top: 2px solid #36283e;
    display: none;
}
.menu-box .menu--link{
    width: 100%;
    height: 32px;
    padding-top: 3.7%;  
}
.menu-box .menu--text{
    font-size: 24px;
    margin: 0 auto;
    padding-bottom: 2px;
}
.menu-box .current{
    display: none;
    border-top: none;
}
.menu--Res480:hover .menu--item{
    display: block;    
    border-left: 1px solid #111a21;
    border-right: 1px solid #111a21;
    background: rgba(63,50,71,0.9);
}
.menu--Res480:hover .menu--item:first-child{    
    border-radius: 6px 6px 0 0; 
    border-top: 1px solid #111a21;
}
.menu--Res480:hover .menu--item:last-child{    
    border-radius: 0 0 6px 6px;
    border-bottom: 1px solid #111a21;
}
.menu-box .menu--link:hover{
    padding-bottom: 7px;
    background: rgba(63,50,71,1);
    border-bottom: 1px solid #edbfff;
}
.slaider{
    height: 398px;
    background: rgba(86,86,86,0.5);
    margin-top: 11%;
}
.header--aticle{
   width: 100%;
   height: 100%;  
}
.header--slide--text{
    width: 54%;
    height: 100%;
    display: inline-block;
    margin-left: 0;
    margin-top: 75px;    
}
.header--aticle--box{
    width: 100%;  
    height: 100%;
    margin-top: 16px;
}
.slide--text--h{
    color: #fefefe;
    font-family: "League Gothic";
    font-size: 60px;
    line-height: 57px;
    letter-spacing: -1px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.slide--text{
    color: #edbfff;    
    font-family: "League Gothic";
    font-size: 32px;
    line-height: 39px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.slide--text--aticle{       
    height: 150px;
    overflow: hidden;
    color: white; 
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 24px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: -0.2px;
}
.header--slide--image{
    position: absolute;
    display: inline-block;
    height: 100%;
    margin-left: 60px;
    bottom: 21px;
}
.slide--image--bt{
    position: absolute;
    margin-left: 50%;
    margin-top: -264px;
}
#header--slaider{
    width: 67%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
#header--slaides{
    position: relative;
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
}
#header--slaides-overflow{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.header--slaides-content{
    width: 400%;    
}
.header--slaides-content:after{
  content: "";
  display: block;
  clear: both;
}

.header--slaides-content article{
    width: 25%;
    height: 400px;
    float: left;
}
#slide1:checked ~ #header--slaides .header--slide--image{
    display: none;
}
#slide3:checked ~ #header--slaides .header--slide--image{
    display: none;
}
#slide1:checked ~ #header--slaides .header--slaides-content { margin-left:0; }
#slide2:checked ~ #header--slaides .header--slaides-content { margin-left:-100%; }
#slide3:checked ~ #header--slaides .header--slaides-content { margin-left:-200%; }
#slide4:checked ~ #header--slaides .header--slaides-content { margin-left:-300%; }
#header--slaider #header--slaiders-control{
    bottom:266px;
    position: absolute;
    width: 141%;
    max-width: 1300px; 
    top: 152px;
    left: -18%;
}
#header--slaiders-control label{
    cursor: pointer;
    display: none;
    width: 22px;
    height: 34px;
    opacity: 0.5;
}
#header--slaider input{
    display: none;
}
#header--slaiders-control label:hover{
    opacity: 1;
}
#slide1:checked ~ #header--slaiders-control label:nth-child(2),
#slide2:checked ~ #header--slaiders-control label:nth-child(3),
#slide3:checked ~ #header--slaiders-control label:nth-child(4),
#slide4:checked ~ #header--slaiders-control label:nth-child(1) {
    background: url('../img/arrows.png') no-repeat;
    background-position: -23px;
    float: right;
    margin: 0 0.5% 0 0;
    display: block;
}
#slide2:checked ~ #header--slaiders-control label:nth-child(1),
#slide3:checked ~ #header--slaiders-control label:nth-child(2),
#slide4:checked ~ #header--slaiders-control label:nth-child(3),
#slide1:checked ~ #header--slaiders-control label:nth-child(4) {
    background: url('../img/arrows.png') no-repeat;
    float: left;
    margin: 0 0 0 0.5%;
    display: block;
}
#header--slaiders-active{
    position: relative;
    right: 16%;
    bottom: -92px;
    text-align: right;
    margin: 0 auto;
    max-width: 960px;
}
#header--slaiders-active label{
    width: 17px;
    height: 17px;
    cursor: pointer;
    border-radius: 100%;
    display: inline-block;
    background: rgba(59,56,66,0.5);
    box-sizing: border-box;
}
#slide1:checked ~ #header--slaiders-active label:nth-child(1),
#slide2:checked ~ #header--slaiders-active label:nth-child(2),
#slide3:checked ~ #header--slaiders-active label:nth-child(3),
#slide4:checked ~ #header--slaiders-active label:nth-child(4){
    opacity: 1;
    background: white;
    border: 3px solid rgba(0,0,0,0.3);
    background-clip:content-box;
}
.info-menu{
    height: 342px;
    background: linear-gradient(0deg,#322539,#745083);
}
.info-menu--content{
    height: 215px;
    width: 30%;
    display: inline-block;
}
.info-menu--content--box{
    margin: 0 0 0 9px;
}
.info-menu--aticle{
    position: relative;
    height: 194px;
    padding-left: 16%;
}
.info-menu--marker{
    width: 27px;
    height: 25px;
    position: absolute;
    top: 6px;
    left: 0;  
    background-repeat: no-repeat;
    background-image: url(../img/article_icons.svg);
}
.first{
    background-position-x: 0%;
}
.second{
    background-position-x: 50%;
}
.three{
    background-position-x: 100%;
}
.info-menu--aticle{
    height: 210px;
    width: 83%;
    display: inline-block;
    position: relative;
    padding-left: 20%;
    vertical-align: text-top;
}
.info-menu--text{
    height: 150px;
    overflow: hidden;
    text-align: left;
    line-height: 24px;
    text-shadow: 0.5px 0.9px 0 #0f1518;
    color: white;
    font-family: "Open Sans";
    font-size: 16px;     
}
.info-menu--box{
    text-align: justify;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 79px;
}
.info-menu--box:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    text-align: justify;
}
.info-menu--h{
    width: 100%;
}
.info-menu--link{
    display: block;
    margin-top: -6%;
    margin-right: 5%;
    float: right;
    text-decoration: none;
    text-shadow: 0.5px 0.9px 0 #0f1518;
    color: white;
    font-family: "League Gothic";
    font-size: 18px;
}
.info-menu--link:hover{
    text-shadow: #ffffff 0 0 15px;
}
h3{
    margin-bottom: 6px;
    display: inline-block;
    width: 108%;
    text-shadow: 0.5px 0.9px 0 #0f1518;
    color: white;
    font-family: "League Gothic";
    font-size: 29px;
    font-weight: normal;
}
.content{
    height: 607px;
    position: relative;
    background: url(../img/content-bg.png);
}
.content--box{
    max-width: 960px;
    margin: 0 auto;
}
.content--h{
    color: #030303;
    padding-left: 41px;
    padding-right: 42px;
    padding-top: 33px;
}
.content-message, .content--updetes{
    box-sizing: border-box;
    float: left;
    width: 50%;
    margin-top: 10.2%;
}
#content-message--slaider input{
    display: none;
}
#content-message--slaider{
    position: relative;
    margin: 0 auto;
    width: 100%;
}
#slaides{
    width: 100%;
    margin: 0 auto;
}
#slaides-overflow {
    width: 100%;
    overflow: hidden;
}
#content-message--slaider .slaides-content {
    width: 400%;
}
#content-message--slaider .slaides-content article {
    width: 25%;
    height: 293px;
    float: left;
}
#content-message--slaider .slaides-content:after {
    content: "";
    display: block;
    clear: both;
}
#slaid1:checked ~ #slaides .slaides-content{
    margin-left: 0;
}
#slaid2:checked ~ #slaides .slaides-content{
    margin-left: -100%;
}
#slaid3:checked ~ #slaides .slaides-content{
    margin-left: -200%;
}
#slaid4:checked ~ #slaides .slaides-content{
    margin-left: -300%;
}
#slaiders-active{
    margin-top: 2%;
    text-align: center;
}
#slaiders-active label {
    cursor: pointer;
    border-radius: 100%;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 0.6%;
    background: white;
    box-shadow: 0 0 0 1px #e6e6e6;
    box-sizing: border-box;
}
#slaiders-active label:hover {
    border: 3px solid rgba(255, 255, 255, 1);
    background-clip: content-box;
}
#slaid1:checked ~ #slaiders-active label:nth-child(1), 
#slaid2:checked ~ #slaiders-active label:nth-child(2),
#slaid3:checked ~ #slaiders-active label:nth-child(3),
#slaid4:checked ~ #slaiders-active label:nth-child(4){
    border: 2px solid white;
    box-shadow: 0 0 0 1px #e6e6e6;
    background: linear-gradient(0deg,#454545,#6a6a6a);
    background-clip: content-box;
}
.content--aticle{
    margin-left: 21px;
    width: 89%;   
}
.content--text{
    max-height: 168px;
    overflow: hidden;
    text-align: left;
    font-family: "Open Sans";
    font-size: 16px;
    padding-bottom: 15px;
    padding-left: 34px;
    line-height: 1.5;
    color: #454545;  
    text-shadow: 0.5px 0.9px 0 white;        
}
.content--photo{
    position: absolute;
    margin-left: -5%;
    margin-top: 5.9%;
 }
.text-color{
    color: #edbfff;
}
.content--aticle--box{
    position: relative;
    padding-right: 30px;
    padding-bottom: 33px;
    margin-bottom: 20px;
    background: url(../img/message.png);
}

.content--updetes--content--text{
    position: absolute;
    margin-top: -51px;
    margin-left: 30px;
    font-weight: normal;
}
.content--updetes--list{
    height: 66px;
    position: relative;
    padding-left: 66px;
}
.content--updetes{
    max-height: 168px;
    text-align: left;
    line-height: 24px;
    font-family: "Open Sans";
    font-size: 16px;
    text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    
}
.content--updetes--h{
    width: 93%;
    letter-spacing: 0.2px;    
    font-family: "League Gothic";
    font-size: 29px;
    color: black;
    margin-top: -9px;
    margin-left: 6%;
    margin-bottom: 10px;
}
.content--updetes--item{   
    text-align: left;
    font-family: "Open Sans";
    font-size: 16px;
    padding-bottom: 10px;
    padding-left: -1px;
    line-height: 1.5;
    color: #454545; 
    text-shadow: 0.5px 0.9px 0 white;
    position: relative;
    list-style: none;    
}
.content--updetes--marker{
    width: 50px;
    height: 50px;
    margin-left: -9%;
    margin-top: 2%;     
    list-style: none;
    background: url(../img/markersprait.png);
}
.marker1{
    background-position-y: 0;
}
.marker2{
    background-position-y: 50%;
}
.marker3{
    background-position-y: 100%;
}
.content--updetes--text--style{
    font-weight: bold;
}
.content--updetes--box{
    height: 322px;
    margin-top: 9%;
}
.content--updetes--link{
    width: 85px;
    display: block;
    float: right;
    margin-top: -18.9%;
    margin-right: 4%;
    font-family: "League Gothic";
    font-size: 18px;
    text-shadow: 0.5px 0.9px 0 white;
    color: #030303;
    text-decoration: none;
}
.content--logos{
    height: 122px;
    width: 100%;
    position: absolute;    
    margin-top: -119px;
    border-top: 1px solid #e6e6e6;
}
.content--img{
    display: block;
    margin: 0 auto;
    margin-top: 1.8%;
}
.content--img-RES{
    display: none;
}
.content--img-RES320{
    display: none;
    margin-left: 10%;
    margin-top: 17%;
}
.footer-info{
    height: 396px;
    margin: 0 auto;
    border-top: 1px solid #d8d8d8;
    background: #ececec;
}
h4{
    margin-top: 6%;
    margin-bottom: 4%;
    font-family: Georgia;
    font-size: 16px;
    font-style: italic;
    color: #c5c5c5;
    text-shadow: #c5c6c5 1px 3px 5px;
}
.footer--logo{
    margin-top: -50px;
    position: absolute;
}
.footer-info--content{
    overflow: hidden;
    height: 207px;
    padding-top: 134px;
    font-size: 0;
    text-align: justify;
    max-width: 960px;
    margin: 0 auto;
}
.footer-info--aticle1{
    height: 215px;
    width: 31%;
    display: inline-block;
}
.footer-info--aticle{
    height: 215px;
    width: 25%;
    margin-right: 6%;
    margin-left: 3%;
    display: inline-block;    
}
.footer-info--h{
    position: absolute;
    margin-top: -37px;
    margin-left: 0.6%;
    letter-spacing: 0.2px;
    font-family: "League Gothic";
    font-size: 29px;
    margin-bottom: 9px;
    text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
}
.footer-info--text{    
    width: 118%;
    height: 126px;
    margin-left: 3%;
    text-align: left;
    line-height: 24px;
    font-family: "Open Sans";
    font-size: 16px;
    text-shadow: 0.5px 0.9px 0 white;
    color: #787878;
}
.footer-info--text1{    
    width: 102%;
    height: 126px;
    text-align: left;
    line-height: 24px;
    font-family: "Open Sans";
    font-size: 16px;
    text-shadow: 0.5px 0.9px 0 white;
    color: #787878;
}
.resolution768{
    display: none;
    float: left;
    width: 25%;    
}
.resolution768 .aticle--text{
    width: 94%;
    margin-top: 0;
    margin-top: -1%;
}
.resolution768 .footer-info--h{
    font-size: 22px;
    letter-spacing: 1.2px;
}
footer{
    position: relative;
    height: 115px;
    margin-top: 2.7%;
    background: url(../img/footer.png);
}
.footer--menu--box{
    width: 100%;
    height: 300px;
    margin: 0 auto;
}
.footer--menu{
    margin-left: 16.2%;
}
.footer--menu .menu--item{
    list-style: none;
    float: left;
    overflow: hidden;
    margin-top: 3.5%;
    margin-right: -1.6%;
}
.footer--menu .menu--link{
    font-size: 20px;
}
.footer--menu .menu--link:hover{
    padding-bottom: 4px;
    border-bottom: 3px solid #edbfff;
}
.footer--text{
    margin-right: 19.6%;
    margin-top: 3.3%;
    font-size: 18px;
    letter-spacing: 0.5px;
    float: right;
}
.footer--text--aticte{
    text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
    color: white;
    font-family: "Open Sans";
    font-size: 11px;
}
.color{
    font-weight: bold;
}

@media(max-width: 980px){
    .header--logo{
        margin-top: 8.3%;
        margin-left: 0.2%;
    }
    .menu{
        width: 66%;
        margin-top: -4.3%;
        margin-left: 33.9%;
        margin-right: -33%;
    }
    .slaider{
        margin-top: 18%;
    }
    .slide--text{
        font-size: 26px;
    }
    .content--logos{
        margin-top: -116px;
    }
    .content--img{
        margin-top: 2.8%;
    }
    .info-menu--aticle{
        margin-right: 6px;
    }
    .info-menu--aticle{
        padding-left: 15%;
    }
    footer{
        margin-top: 4.7%;
    }
    .footer--menu{
        margin-left: 0.2%;
    }
    .footer--text{
        margin-right: 0;
        margin-top: 5.5%;
    }
}

@media (max-width: 768px){
    
    .header--logo{
        margin-top: 10.9%;
        margin-left: 1.9%;
    }
    .menu{
        width: 98%;        
        margin-top: 3.5%;
        margin-left: 1.5%;
    }
    .menu--item{
        padding-left: 0;
        padding-right: 5.9%;
    }
    .menu-box{
        margin-left: -999999px;
    }
    .slaider{
        margin-top: 10%;
    }
    #header--slaides-overflow{
        width: 131%;
        margin-left: -54px;
    }    
    .header--slide--image{
        margin-left: -5px;
        bottom: 33px;
    }
    .slide--text--h{
        font-size: 50px;
        margin-top: 3px;
        margin-bottom: 0px;        
    }
    .slide--text{
        font-size: 21px;
    }
    .slide--text-aticle{
        width: 73%;
        height: 100px;
        line-height: 26px;
        font-size: 16px;
    }
    #header--slaider #header--slaisers-control{
        width: 144%;
        left: -25%;
    }
    #header--slaisers-active{
        right: 5%;
        bottom: -29px;
    }
    .info-menu{
        margin-top: -5%;
    }
    .info-menu--box{
        padding-top: 73px;
    }
    .info-menu--content{
         width: 32%;
    }    
    .info-menu--content--box{
        margin-left: 11%;
    }
    .info-menu--aticle{
         width: 80%;
    } 
    .info-menu--h{
        width: 100%;
        font-size: 22px;
    }
    .info-menu--link{
        margin-top: -4%;
        margin-right: 14%;
    }
    .content--aticle{
        width: 84%;
        margin-left: 8.9%;
        margin-top: 4.4%;
        background: none;
        background-color: #ffffff;
    }
    .content--photo{
        margin-left: -7%;
        margin-top: 6.9%;
    }
    .content--h{
        width: 111px;
        margin-left: -2px;
        margin-top: -7px;
        font-size: 24px;
    }
    .content--text{
        height: 130px;
        margin-top: -1%;
        margin-left: 2%;
        overflow: hidden;
        font-size: 16px;
    }
    #slaiders-active{
        margin-top: 6%;
        margin-left: 3%;
    }
    .content--updetes--content--text{        
        line-height: 16px;   
        width: 86%;
    }
    .content--updetes--box{
        margin-top: 15%;
    }
    .content--updetes--h{
        width: 91%;
        margin-left: 8%;
    }
    .content--updetes--marker{
        margin-left: -11%;
        margin-top: 3%;
    }
    .content--logos{
        width: 99%;
        margin-top: -16.5%;
        margin-left: 0.9%;
    }
    .content--img{
        width: 99%;
        margin-top: 3.2%;
    }
    .footer-info--aticle{
        display: none;
    }
    .footer-info--aticle1{
        display: none;
    }
    
    .footer-info--content{
        width: 99%;
        margin-left: 0.6%;
        margin-right: -14%;
    }
    .resolution768{
        display: block;
        margin-right: 6%;
        margin-left: 0.2%;
        margin-top: 0.1%;
    }
    .footer--text{
        margin-right: 1.6%;
        margin-top: 13%;
    }
    .footer--menu{
        margin-top: 0;
        margin-left: 1.5%;
    }
    .footer--menu .menu--item{
        margin-top: 5.4%;
        margin-right: -0.9%;
    }
    footer{
        height: 201px;
        margin-top: 0;
        background: url(../img/bg768.png);
    }
    
}

@media(max-width: 480px){
    
    @viewport { width: 480px; }
    .header--logo{
        margin-top: 16.9%;
        margin-left: 34.2%;
    }
    .menu--item{
        display: none;
    }
    .menu-box{
        margin-left: 95px;
        margin-top: -2%;
    }
    .menu-box .current{
        display: block; 
        
    }
    .slaider{
        margin-top: 19%;
        height: 29%;
    }
    .header--slide--image{
        width: 22%;
        bottom: 13px;
    }
    .header--slides-overflow{
        width: 126%;
        margin-left: -35px;
    }
    .slide--text--h{
        font-size: 38px;
    }
    .slide--text{
        font-size: 15px;
        line-height: 7px;
    }
    .slide--image--bt{
        width: 81%;
        margin-left: 127%;
        margin-top: -267%;
    }
    #header--slaiders-active{
        right: 31%;
        bottom: -17px;
    }
    .header--slide--text{
        margin-left: 12px;
    }
    #header--slaider #header--slaiders-control{
        width: 150%;
        top: 104px;
        left: -25%;
    }
    .slide--text--aticle{
        height: 0;
    }
    .slide--image{
        width: 263%;
    }
    .info-menu{
        height: 599px;
        margin-top: -61%;
    }
    .info-menu--content{
        width: 100%;
        float: left;
        height: auto;
    }
    .info-menu--content--box{
        margin-left: 25px;
    }
    .info-menu--marker{
        margin-left: -2%;
        margin-top: 0.5%;
    }    
    .info-menu--aticle{
        height: auto;
        padding-left: 11%;
        padding-right: 2%;
        margin-bottom: 5.8%;
    }
    .info-menu--h{
        width: 100%;
    }
    .info-menu--text{
        height: 132px;
        margin-bottom: -10%;
    }
    .info-menu--link{
        margin-right: -23px;
        margin-top: -3%;
    }
    .content{
        height: 1017px;
    }
    .content--aticle{
        width: 90%;
        margin-left: 7.9%;
        margin-top: 4.4%;
    }
    .content--photo{
        margin-left: -6%;
        margin-top: 5.3%;
    }
    .content--h{
        width: 90%;
        margin-left: -4px;
        margin-top: -4px;
        font-size: 31px;
    }
    .content---text{
        width: 90%;
        font-size: 20px;
    }
    .content-message{
        width: 100%;
    }
    .content--updetes--box{
        width: 100%;
    }
    .content--updetes{
        width: 100%;
        margin-top: -4%;
    }
    .content--updetes--h{
        width: 80%;
        margin-left: 16%;
    }
    .content--updetes--marker{
        margin-left: 2%;
        margin-bottom: -1%;
    }
    .content--updetes--content--text{
        width: 68%;
        margin-left: 74px;
        margin-top: -42px;        
    }
    .content--updetes--link{
        margin-right: 15%;        
    }
    .content--logos{
        width: 99%;
        margin-top: -50%;
    }
    .content--img{
        display: none;
    }
    .content--img-RES{
        display: block;
        width: 75.4%;
        margin-top: 8%;
        margin-left: 12%;
    }
    .footer-info--content{
        height: 535px;
        padding-top: 89px;
    }
    .footer-info--aticle{
        height: 0;
    }
    .resolution768{
        width: 86%;
        margin-top: 27px;
        margin-right: 0;
        margin-bottom: 158px;
    }
    .aticle--text{
        width: 99%;
        margin-top: -3px;
        margin-left: 1%;
        font-size: 18px;        
    }
    .footer-info{
        height: 669px;
    }
    footer{
        height: 200px;
        background: url(../img/bg480.png);
    }
    .footer--menu{
        width: 97%;
        display: block;
        width: 106%;
        height: 38%;
        margin-top: 1%;
        padding-top: 4%;
    }
    .footer--menu .menu--item{
        display: block;
        margin-left: 1.5%;
        margin-right: -2.4%;
    }
    .menu--text{
        font-size: 20px;
    }
    .footer--text{
        margin-right: 164px;
        margin-top: 6px;
    }
    
}


@media(max-width: 320px){
    
    .header--logo{
        margin-top: 25.9%;
        margin-left: 25.2%;
    }
    .menu--item{
        display: none;
    }
    .menu-box{
        margin-left: 21%;
        margin-top: 3%;
    }
    .menu-box .current{
        display: block;        
    }
    .slaider{
        margin-top: 37%;
        height: 23%;
    }
    .header--slide--image{
        display: none;
    }
    .header--slide--text{
        width: 100%;
        margin-left: 64px;
    }
    .info-menu{
        margin-top: -107%;
    }
    .info-menu--h{
        width: 100%;
    }
    .info-menu--content{
        height: 152px;
        margin-bottom: 2%;
    }
    .info-menu--conten--box{
        margin-left: 22%;
        margin-top: 2%;
    }
    .info-menu--text{
        height: 76px;
        margin-bottom: -10%;
    }
    .info-menu--link{
        margin-top: 14%;
        margin-right: 1%;
    }
    .info-menu--marker{
        width: 9.8%;
        margin-left: -2%;
    }
    .info-menu--aticle{
        padding-left: 18%;
        margin-top: -4%;
        padding-right: 0;
    }
    .content{        
        height: 1209px;
    }
    .content--aticle{
        width: 85%;
        margin-left: 11.9%;
        margin-top: 13.4%;
    }
    .content--photo{
        margin-left: -9%;
        margin-top: 6.3%;
    }
    .content--h{
        width: 111px;
        margin-left: -2%;
        margin-top: -6%;
        font-size: 24px;
    }
    .content---text{
        height: 151px;
        margin-top: -3%;
        margin-left: 2%;
        font-size: 20px;
    }
    #slaiders-active{
        margin-top: 14%;
        margin-left: 16%;
    }    
    .content--updetes--box{        
        margin-top: 61px;
    }
    .content--updetes--h{
        margin-left: 4%;
    }
    .content--updetes--marker{
        margin-top: 4%;
        margin-left: -23%;
    }
    .content--updetes--content--text{
        width: 91%;
        margin-left: 14px;
        margin-top: -42px;
        font-size: 14px;
    }
    .content--logos{
        margin-top: -139%;
    }
    .content--img-RES{
        display: none;
    }
    .content--img-RES320{
        display: block;
    }
    .footer-info{
        display: none;
    }
    footer{
        height: 200px;
        margin-top: 0%;
        background: url(../img/bg480.png);
    }
    .footer--menu{
        display: none;
    }
    .menu--text{
        font-size: 20px;       
    }
    .footer--text{
        margin-right: 26%;
        margin-top: 38px;
    }
    .menu-box{
        display: block;
    }
}
